{%extends 'all-photos/base.html'%} {% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">{{image.title}}</h1>
            <img src="{{image.image.url}}" class="img-responsive" alt="image">
        </div>
    </div>
    <div class="row">
        <p><strong>Description: </strong>{{image.description}}</p>
    </div>

    <div class="row">
        <p><strong>Location:</strong>{{image.location}}</p>
        <p><strong>Posted</strong> {{image.pub_date|timesince}}</p>
    </div>

</div>

{% endblock %}